# GitSpy
gitSpy/*

# Server data
server/logs/*
server/config/github.config.js
server/config/sendGridKey.js

# SendGrid key
server/config/sendGridKey.js

# Concatenated and minified code
dist/*

.DS_Store

# Dependency directories
node_modules/*

#SCSS
.sass-cache/*

#NPM logs
npm-debug.log
server/npm-debug.log
server/db/npm-debug.log
