# GitSpy
gitSpy/*

# Server data
server/logs/*
server/config/github.config.js
server/npm-debug.log

# Concatenated and minified code
dist/*

.DS_Store

# Dependency directories
node_modules/*

#SCSS
.sass-cache/*
