$font-stack:  'Open Sans', sans-serif;

svg text {
  font-family: 'Garamond';
}
h1 {
  font-size: $large-size;
  font-weight: $bold;
}
h2 {
  font-size: $semi-large-size;
  font-weight: $semi-bold;
}
h3 {
  font-size: $semi-large-size;
  font-weight: $regular;
}
.font-white {
  color: $white;
}
.font-lightest-gray {
  color: $lightest-gray;
}
.font-lighter-gray {
  color: $lighter-gray;
}
.font-light-gray {
  color: $light-gray;
}
.font-medium-gray {
  color: $medium-gray;
}
.font-dark-gray {
  color: $dark-gray;
}
.font-weight-light {
  font-weight: 100;
}
.font-weight-regular {
  font-weight: $regular;
}
.font-weight-semi-bold {
  font-weight: $semi-bold;
}
.font-weight-bold {
  font-weight: $bold;
}
.fonts-size-light {
  font-size: $light-size;
}
.fonts-size-regular {
  font-size: $regular-size;
}
.fonts-size-semi-large {
  font-size: $semi-large-size;
}
.fonts-size-large {
  font-size: $large-size;
}
.fonts-size-x-large {
  font-size: $x-large-size;
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('/static/stylesheets/partials/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('/static/stylesheets/partials/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('/static/stylesheets/partials/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('/static/stylesheets/partials/fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('/static/stylesheets/partials/fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('/static/stylesheets/partials/fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

