// Style Reset
@import "partials/reset";

// Modules and Variables
@import "partials/base";

// Partials
@import "partials/typography";

// Components
@import "components/buttons";
@import "components/images";
@import "components/inputs";

// Layout
@import "layout/header";

#data-results-container {
  padding: 10px;
}
.data-result-container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.event-title {
  display: inline;
}