// Modules and Variables
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";

body {
  font-family: $font-stack;
}
rect {
  fill: $primary-color;
}
svg {
  font: 10px $font-stack;
  font-weight: $light;
  font-size: 12px;
}
.user-avatar-1 {
  width: 100px;
  height: auto;
  border-radius: 5px;
}
#search-results-container {
  background-color: #ddd;
  padding: 10px;
}
.search-result-container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.event-title {
  display: inline;
}