/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End CSS reset */
body {
  font-family: "Open Sans", sans-serif; }

.centered {
  margin-right: auto;
  margin-left: auto; }

.text-centered {
  text-align: center; }

.block {
  display: block; }

.data-results-container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  min-width: 500px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px; }

.data-results-container-flex {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  min-width: 500px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-justify-space-around {
  justify-content: flex-start; }

.data-results-container-clear {
  width: 75%;
  min-width: 500px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto; }

.data-results-container-flex-clear {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  width: 75%;
  min-width: 500px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-center {
  justify-content: center; }

.user-result-container {
  background-color: #fff;
  width: 120px;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 5px; }

.data-result-container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; }

.margin-5px {
  margin: 5px; }

.no-wrap {
  white-space: nowrap; }

.left-border {
  border-left: 1px solid #fff; }

.bottom-border {
  border-bottom: 1px solid #fff; }

.anchor-bottom {
  position: fixed;
  bottom: 0px; }

.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.bottom {
  bottom: 0; }

.block {
  display: block; }

svg {
  font: 10px;
  font-weight: 300;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  margin: 20px 0; }

#commit-charts {
  text-align: center; }

.full-width {
  width: 100%; }

.black-container-bg {
  background-color: #1C1D21; }

.main-img-container-bg {
  background: url(../../static/assets/8bit-landscape-1-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.float-right {
  float: right; }

.border-1px-white {
  border: 1px solid #fff; }

.border-2px-white {
  border: 2px solid #fff; }

svg text {
  font-family: 'Garamond'; }

h1 {
  font-size: 24px;
  font-weight: 700; }

h2 {
  font-size: 20px;
  font-weight: 600; }

h3 {
  font-size: 16px;
  font-weight: 400; }

.font-white {
  color: #fff; }

.font-active {
  color: #1d9; }

.font-lightest-gray {
  color: #eee; }

.font-lighter-gray {
  color: #ccc; }

.font-light-gray {
  color: #999; }

.font-medium-gray {
  color: #444; }

.font-dark-gray {
  color: #222; }

.font-weight-light {
  font-weight: 100; }

.font-weight-regular {
  font-weight: 400; }

.font-weight-semi-bold {
  font-weight: 600; }

.font-weight-bold {
  font-weight: 700; }

.font-size-lightest {
  font-size: 4px; }

.font-size-lighter {
  font-size: 6px; }

.font-size-light {
  font-size: 8px; }

.font-size-regular {
  font-size: 12px; }

.font-size-semi-large {
  font-size: 16px; }

.font-size-large {
  font-size: 20px; }

.font-size-x-large {
  font-size: 24px; }

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Open-Sans-300/Open-Sans-300.eot");
  src: url("/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix") format("embedded-opentype"), local("Open Sans Light"), local("Open-Sans-300"), url("/fonts/Open-Sans-300/Open-Sans-300.woff2") format("woff2"), url("/fonts/Open-Sans-300/Open-Sans-300.woff") format("woff"), url("/fonts/Open-Sans-300/Open-Sans-300.ttf") format("truetype"), url("/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Open-Sans-regular/Open-Sans-regular.eot");
  src: url("/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Open Sans"), local("Open-Sans-regular"), url("/fonts/Open-Sans-regular/Open-Sans-regular.woff2") format("woff2"), url("/fonts/Open-Sans-regular/Open-Sans-regular.woff") format("woff"), url("/fonts/Open-Sans-regular/Open-Sans-regular.ttf") format("truetype"), url("/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Open-Sans-600/Open-Sans-600.eot");
  src: url("/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix") format("embedded-opentype"), local("Open Sans Semibold"), local("Open-Sans-600"), url("/static/stylesheets/partials/fonts/Open-Sans-600/Open-Sans-600.woff2") format("woff2"), url("/static/stylesheets/partials/fonts/Open-Sans-600/Open-Sans-600.woff") format("woff"), url("/static/stylesheets/partials/fonts/Open-Sans-600/Open-Sans-600.ttf") format("truetype"), url("/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Open-Sans-700/Open-Sans-700.eot");
  src: url("/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix") format("embedded-opentype"), local("Open Sans Bold"), local("Open-Sans-700"), url("/static/stylesheets/partials/fonts/Open-Sans-700/Open-Sans-700.woff2") format("woff2"), url("/static/stylesheets/partials/fonts/Open-Sans-700/Open-Sans-700.woff") format("woff"), url("/static/stylesheets/partials/fonts/Open-Sans-700/Open-Sans-700.ttf") format("truetype"), url("/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans") format("svg"); }
.button {
  -webkit-appearance: caret;
  background-color: #1d9;
  border-radius: 5px;
  padding: 5px;
  color: #fff; }

.button:hover {
  background-color: #1bcc88; }

.button:active {
  background-color: #1fb574; }

.button-inactive {
  -webkit-appearance: caret;
  background-color: #989898;
  border-radius: 5px;
  padding: 5px;
  color: #fff; }

.signin {
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  padding-bottom: auto;
  padding-top: auto;
  vertical-align: middle; }

.compete {
  padding: 20px;
  font-size: 16px;
  font-weight: 600; }

.user-avatar-sm {
  width: 20px;
  height: 20px;
  border-radius: 2px; }

.user-avatar-med {
  width: 50px;
  height: 50px;
  border-radius: 2px; }

.user-avatar-1 {
  width: 120px;
  height: auto;
  border-radius: 5px; }

.avatar-container {
  width: 120px;
  height: 120px;
  background-color: #ddd;
  background-image: url("/static/assets/github-02.svg"); }

.drop-arrow {
  margin-bottom: 5px;
  margin-left: 2px; }

.vs-swords {
  margin: 0 20px; }

.search-form {
  margin: 0 auto;
  padding-top: 5px;
  padding-top: 5px;
  width: 350px; }

.search-input {
  -webkit-appearance: caret;
  width: 300px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  display: inline; }

.search-submit-button {
  -webkit-appearance: caret;
  background-color: #1d9;
  color: #fff;
  height: 30px;
  border-radius: 0 5px 5px 0; }

.search-container {
  white-space: nowrap; }

.spacer-2px {
  margin: 2px 0; }

.spacer-5px {
  margin: 5px 0; }

.spacer-10px {
  margin: 10px 0; }

.spacer-20px {
  margin: 20px 0; }

.spacer-30px {
  margin: 30px 0; }

.spacer-40px {
  margin: 40px 0; }

.spacer-50px {
  margin: 50px 0; }

.spacer-100px {
  margin: 100px 0; }

.spacer-125px {
  margin: 125px 0; }

.spacer-150px {
  margin: 150px 0; }

.header-nav {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 20px; }

.header-components-container {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.logo {
  font-weight: 700;
  font-size: 75px;
  color: #fff; }

.nav-link {
  margin: 0 10px;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px; }

.header-user-button {
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 5px;
  background-color: #fff; }

.header-profile-dropdown {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  margin-top: 5px;
  margin-left: -5px;
  color: #444;
  border: 1px solid #eee;
  font-weight: 300;
  font-size: 12px; }

.header-profile-dropdown-item {
  padding: 10px;
  cursor: pointer; }

.header-profile-dropdown-item:hover {
  background-color: #eee; }

.main-search {
  margin-top: 100px; }

.dash-header-text {
  margin-bottom: 10px; }

.repo-white {
  background-color: #fff;
  color: #222; }

.repo-green {
  background-color: #1d9;
  color: #fff; }

.profile-username {
  font-size: 20px;
  font-weight: 700;
  color: #222; }

.team-table {
  margin: 0 auto; }

.team-table td {
  width: 25%;
  padding: 4px; }

.team-table td a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

.instructions {
  padding: 0 30px;
  line-height: 1.2em; }

.instructions li span {
  font-weight: bold; }

.competitor-card {
  text-align: center;
  margin: 5px;
  display: inline-block;
  height: 112px;
  width: 100px; }

.badge {
  display: inline-block; }

.event-title {
  display: inline; }

/*# sourceMappingURL=main.css.map */
