$font-stack:  Open-sans, sans-serif;
$primary-color: #333;

rect {
  fill: #2ae;
}
svg {
  font: 10px sans-serif;
  font-size: 12px;
}
.user-avatar-1 {
  width: 100px;
  height: auto;
  border-radius: 5px;
}
#search-results-container {
  background-color: #ddd;
  padding: 10px;
}
.search-result-container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.event-title {
  display: inline;
}