.button {
  -webkit-appearance:caret;
  background-color: #1d9;
  border-radius: 5px;
  padding: 5px;
  color: $white;
}
.button:hover {
  background-color: #1bcc88;
}
.button:active {
  background-color: #1fb574;
}
.signin {
  font-weight: $light;
  font-size: $semi-large-size;
  line-height: 50px;
  height: 50px;
  padding-bottom: auto;
  padding-top: auto;
  vertical-align: middle;
}
.compete {
  padding: 20px;
  font-size: $semi-large-size;
  font-weight: $semi-bold;
}