.spacer-10px {
  margin: 10px 0;
}

.spacer-20px {
  margin: 20px 0;
}

.spacer-30px {
  margin: 30px 0;
}

.spacer-40px {
  margin: 40px 0;
}

.spacer-50px {
  margin: 50px 0;
}

.spacer-100px {
  margin: 100px 0;
}

.spacer-125px {
  margin: 125px 0;
}

.spacer-150px {
  margin: 150px 0;
}