.instructions {
  padding: 0 30px;
  line-height: 1.2em;
}

.instructions li span {
  font-weight: bold;
}

.competitor-card {
  text-align: center;
  margin: 5px;
  display: inline-block;
}

.badge {
  display: inline-block;
}