.header-nav {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 20px;
}

.header-components-container {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  font-weight: $bold;
  font-size: 75px;
  color: $white;
}

.nav-link {
  margin: 0 10px;
  font-weight: $semi-bold;
  color: $medium-gray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-user-button {
  border-radius: 5px;
  border: 1px solid $lightest-gray;
  padding: 5px;
  background-color: $white;
}

.header-profile-dropdown {
  background-color: $white;
  border-radius: 5px;
  position: absolute;
  margin-top: 5px;
  margin-left: -5px;
  color: $medium-gray;
  border: 1px solid $lightest-gray;
  font-weight: $light;
  font-size: $regular-size;
}

.header-profile-dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.header-profile-dropdown-item:hover {
  background-color: $lightest-gray;
}
